<footer class="footer bg-dark text-light py-5">
    <div class="container">
        <div class="row">
            <!-- Navigation -->
            <div class="col-md-3">
                <h5>Navigation</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">Accueil</a></li>
                </ul>
            </div>

            <!-- Rechercher -->
            <div class="col-md-3">
                <h5>Recherche</h5>
                <form class="d-flex">
                    <input type="search" placeholder="Rechercher" class="form-control me-2" style="width: 150px;" />
                    <button class="btn btn-outline-light" type="submit">Go</button>
                </form>
            </div>

            <!-- Compte -->
            <div class="col-md-3">
                <h5>Compte</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">Connexion</a></li>
                </ul>
            </div>
        </div>

        <!-- Copyright -->
        <hr class="my-4">
        <div class="row">
            <div class="col text-center">
                <p class="mb-0">2026 ProximaNews. Tous droits réservés.</p>
            </div>
        </div>
    </div>
</footer>