<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Résultats de recherche - Proxima News</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <main>
    <div class="articles">
        <h2 class="mt-4 mb-4">Résultats de recherche</h2>
        <div class="row" id="articles_recherche_section">
        <!-- Les articles de recherche s'ajoutent ici -->
        </div>
    </div>
    </main>

    <!-- Importation -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-8y3rcPP7GbYasOSR8Ip/LGOY348YlIdm0lLDvFVlw2x/0jgT/aWprV2RO6ZR1OoX" crossorigin="anonymous"></script>
    <script src="../JavaScript/header.js"></script>
    <script type="module" src="../JavaScript/scaping_article.js"></script>
        <script type="module" src="../JavaScript/redirect.js"></script>
    <script type="module" src="../JavaScript/research.js"></script>
    <script src="../JavaScript/footer.js"></script>

</body>
</html>